﻿﻿﻿﻿@model Project.Model.Booking

@{
    ViewBag.Title = "Booking details";
}

<h2>@ViewBag.Title</h2>

<hr />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @TempData["Error"]
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Trip
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-details contact-details">
                        <tr class="borderless">
                            <th>Name</th>
                            <td>@Model.Trip.Title</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>@Model.Trip.City.Name</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Passenger
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-details contact-details">
                        <tr class="borderless">
                            <th>Name</th>
                            <td>@Model.FullName</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>@Model.PhoneNumber</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Transaction
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-details contact-details">
                        <tr class="borderless">
                            <th>ID</th>
                            <td>@Model.Transaction.ID</td>
                        </tr>
                        <tr>
                            <th>Credit card</th>
                            <td>@Model.Transaction.PaymentMethod.MaskedNumber</td>
                        </tr>
                        <tr>
                            <th>Amount charged</th>
                            <td>@Model.Transaction.TotalPrice.ToString("N0") EUR</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}



