﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.img-holder {
    width: 100%;
    height: 250px;
    background-size: cover;
    position: relative;
}
.img-main-list {
    height: 150px;
}

.img-inner-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
    padding: 10px;
    text-align: right;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
}
.full-width {
    width: 100%;
}
.top-bottom-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-margin-small {
    margin-top: 10px;
}
.right-margin-small {
    margin-right: 10px;
}

.main-list-ad-title {
    margin-top: 8px;
}
.relative {
    position: relative;
}
.main-list-price-holder {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.main-list-row p {
    margin: 0 0 5px;
}
.half-width {
    width: 30%;
    display: inline-block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table-details th {
    min-width: 120px;
}

.contact-details th {
    min-width: 80px;
}

.borderless th, .borderless td {
    border: 0 !important;
}

.centered {
    margin: 0 auto;
    max-height: 400px;
}

.one-liner-elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.message-row {
    overflow: hidden;
    color: #333;
}
.message-row .panel {
    transition: 0.1s;
    margin-bottom: 5px;
}
.message-row .panel:hover {
    box-shadow: 2px 2px 10px #ddd;
}

.remove-icon {
    margin:0;
    background:none;
    border:0;
    padding:2px;
}
.remove-icon {
    margin:0;
    background:none;
    border:0;
    padding:2px;
}
.remove-icon {
    margin:0;
    background:none;
    border:0;
    padding:2px;
}
.glyphicon-remove {
    transition: 0.3s;
}
.glyphicon-remove:hover {
    color: red;
}
.navbar-collapse .btn {
    margin-top: 8px;
}
.message-unread {
    font-weight: bold;
}
.multiline-text-medium {
    height: 100px !important;
}
.search-input {
    min-width: 40%;
}
.filter-option {
    position:relative;
    left:10px;
}
#trip-search-button {
    position:relative;
    left:20px;
}
html {
    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background:none;
}