﻿@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-8">

        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <!-- Button trigger modal -->
        <button type="button" style="background:#00D49C; border:#00D49C" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contact-modal">
            Kontaktirajte nas!
        </button>
    </div>
</div>

<form action="/Home/SubmitQuery" method="post">
    <!-- Modal -->
    <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" style="background:#00D49C; border:#00D49C" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Kontakt forma</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ime">Ime</label>
                                <input type="text" class="form-control" placeholder="Unesite ime" name="ime">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="prezime">Prezime</label>
                                <input type="text" class="form-control" placeholder="Unesite prezime" name="prezime">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" class="form-control" placeholder="Unesite email" name="email">
                    </div>

                    <div class="form-group">
                        <label for="poruka" class="control-label">Poruka</label>
                        <textarea class="form-control" rows="5" name="poruka"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="tip" class="control-label">Tip upita</label>
                        <select name="tip" class="form-control">
                            <option value="Pohvala">Pohvala</option>
                            <option value="Upit">Upit</option>
                            <option value="Poslovni prijedlog">Poslovni prijedlog</option>
                            <option value="Žalba">Žalba</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="newsletter" value="true" />
                                    Želim primati newsletter
                                </label>
                                <input type="hidden" name="newsletter" value="false" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" style="background:#00D49C; border:#00D49C" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" style="background:#00D49C; border:#00D49C" class="btn btn-primary">Pošalji upit!</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Adresa sjedišta</div>
            <div class="panel-body">
                <address>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr>
                    425.555.0100
                </address>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Javite nam se!</div>
            <div class="panel-body">
                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>
            </div>
        </div>
    </div>
</div>
