﻿﻿﻿﻿@model List<Project.Model.Trip>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Looking for an amazing trip?</h1>
    <p class="lead">Tripseek is here to help you...</p>
    <p>
        <a href="@Url.Action("Index", "Trip")" class="btn btn-primary btn-lg" style="background:#00D49C; border:#00D49C">Search &raquo;</a>
    </p>
</div>

<br />
<h2>Latest trips</h2>
<hr />

<div class="row">

    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Trip", new { id = item.ID })">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">@item.Title</div>
                    <div class="panel-body">
                        <div class="img-holder" style="background: url('@item.ImageUrl'); background-size:cover;">
                            <div class="img-inner-text">
                                <strong><span class="price-eur">@item.Price.Value.ToString("N0")</span> EUR</strong> <em>(<span class="price-hrk"></span> HRK)</em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }

</div>