﻿@using Microsoft.AspNet.Identity﻿﻿﻿

@model Project.Model.User
@{
    ViewBag.Title = "Edit profile";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("EditPost", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(p => p.Id)

    <h4>@ViewBag.Title</h4>
    <hr />

    if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.AgencyName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AgencyName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AgencyName, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.City.CountryID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(p => p.City.CountryID, (IEnumerable<SelectListItem>)ViewBag.PossibleCountries, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.City.CountryID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CityID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(p => p.CityID, (IEnumerable<SelectListItem>)ViewBag.PossibleCities, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="PhoneNumber">Phone number</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" style="background:#00D49C; border:#00D49C" value="Save" />
        </div>
    </div>
}