﻿@using Microsoft.AspNet.Identity﻿﻿﻿

@model Project.Model.User
@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title</h2>

<table class="table table-condensed">
    <tbody>
        @if (User.IsInRole("Admin"))
        {
            <tr>
                <th>Agency name</th>
                <td>@Model.AgencyName</td>
            </tr>
        }
        else
        {
            <tr>
                <th>First Name</th>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>@Model.LastName</td>
            </tr>
        }

        <tr>
            <th>Location</th>
            <td>@Model.City.Name (@Model.City.Country.Name)</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@Model.StreetName @Model.StreetNumber</td>
        </tr>
    </tbody>
</table>

@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
