﻿@using Microsoft.AspNet.Identity

@model List<Project.Model.Message>


@foreach (var msg in Model)
{
    var cssClass = "message-row";
    var condition = msg.Receiver.Id == User.Identity.GetUserId() && !msg.hasReceiverRead;
    if (condition)
    {
        cssClass += " " + "message-unread";
    }

    string senderFullName = null;
    string receiverFullName = null;

    if (msg.UserCreated.Id == msg.Trip.UserCreated.Id)
    {
        senderFullName = msg.UserCreated.AgencyName;
        receiverFullName = msg.Receiver.FirstName + " " + msg.Receiver.LastName;
    }
    else
    {
        receiverFullName = msg.Receiver.AgencyName;
        senderFullName = msg.UserCreated.FirstName + " " + msg.UserCreated.LastName;
    }


    <a href="@Url.Action("Details", new { id = msg.ID })" class="@cssClass">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2 one-liner-elipsis">
                        @if (msg.UserCreated.Id == User.Identity.GetUserId())
                        {
                            <text>@receiverFullName</text>
                        }
                        else
                        {
                            <text>@senderFullName</text>
                        }
                    </div>
                    <div class="col-sm-8 one-liner-elipsis">
                        @msg.Trip.Title - @msg.Description
                    </div>
                    <div class="col-sm-1 one-liner-elipsis">
                        @msg.DateCreated.ToShortDateString()
                    </div>

                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="deleteMessage(this, @msg.ID); return false;"></span>
                    </div>

                </div>
            </div>
        </div>
    </a>

}

