﻿@using Microsoft.AspNet.Identity

@model Project.Model.Message

@{

    string senderFullName = null;
    string receiverFullName = null;

    if (Model.UserCreated.Id == Model.Trip.UserCreated.Id)
    {
        senderFullName = Model.UserCreated.AgencyName;
        receiverFullName = Model.Receiver.FirstName + " " + Model.Receiver.LastName;
    }
    else
    {
        receiverFullName = Model.Receiver.AgencyName;
        senderFullName = Model.UserCreated.FirstName + " " + Model.UserCreated.LastName;
    }



    if (Model.UserCreated.Id == User.Identity.GetUserId())
    {
        ViewBag.Title = "Message sent to " + receiverFullName;
    }
    else
    {
        ViewBag.Title = "Message received from " + senderFullName;
    }
}

<h1>@ViewBag.Title</h1>
<hr />

<br />

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Message</div>
            <div class="panel-body">@Model.Description</div>
        </div>
    </div>
</div>

@if (Model.UserCreated.Id != User.Identity.GetUserId())
{
    <br />
    using (Html.BeginForm("Send", "Message"))
    {
        Model.Description = "";
        @Html.HiddenFor(model => model.TripID)
        @Html.HiddenFor(model => model.ReceiverID)
        @Html.HiddenFor(model => model.CreatedById)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control multiline-text-medium", placeholder="Write a reply"} })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
        <input type="submit" class="btn btn-primary pull-right" style="background:#00D49C; border:#00D49C" value="Reply" />
    }
    <br />
    <br />
}

<br />
<br />

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Trip info
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-details top-margin-small">
                    <tr class="borderless">
                        <th>Title</th>
                        <td><a href="@Url.Action("Details", "Trip", new { id = Model.Trip.ID })">@Model.Trip.Title</a></td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>@Model.Trip.City.Name (@Model.Trip.City.Country.Name)</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td><strong>@Model.Trip.Price EUR</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Sender info
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-details contact-details">
                    <tr class="borderless">
                        <th>Full name</th>
                        <td>@senderFullName</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>@Model.UserCreated.PhoneNumber</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>