﻿@using Microsoft.AspNet.Identity

@model List<Project.Model.Message>

@{
    ViewBag.Title = "Messages";
}

<h1>@ViewBag.Title</h1>
<hr />


@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"]
    </div>

}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="row">
    <div class="col-sm-8 top-bottom-margin">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-primary" style="background:#00D49C; border:#00D49C" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>

<br />


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#messages-received">Received</a></li>
    <li><a data-toggle="tab" href="#messages-sent">Sent</a></li>
</ul>

<br />

<div class="tab-content">
    <div id="messages-received" class="tab-pane fade in active">
        @Html.Partial("_MessagesPartial", @Model.Where(p => p.CreatedById != User.Identity.GetUserId()).ToList())
    </div>
    <div id="messages-sent" class="tab-pane fade">
        @Html.Partial("_MessagesPartial", @Model.Where(p => p.CreatedById == User.Identity.GetUserId()).ToList())
    </div>
</div>


<br />
<br />


@section scripts{

    <script type="text/javascript">

        function deleteMessage(link, msgId) {
            $.ajax({
                url: '@Url.Action("Delete")',
                data: { id: msgId },
                type: 'post',
                success: function (data) {
                    if (data == "OK") {
                        $(link).closest('a').remove();
                    }
                },
                error: function (xhr) {

                }
            });
        }

    </script>
}