﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a class="btn btn-primary" href="@Url.Action("Index", "Message", new { area = "" })">Messages</a>

    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="dropdown user-menu">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                @User.Identity.Name
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Admin Area", "Index", "TripAdmin", new { area = "Admin" }, null)</li>
                }
                <li>@Html.ActionLink("My profile", "Index", "User", new { area = "", id = User.Identity.GetUserId() }, null)</li>

                @if (!User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("My trips", "Index", "TripMy", new { area = "" }, null)</li>
                }

                <li role="separator" class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}