﻿﻿﻿﻿@model List<Project.Web.Areas.Admin.Models.TripAdmin>


<br />

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Location</th>
            <th>Price</th>
            <th>Date created</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@Html.ActionLink(item.Title, "Details", "Trip", new { area = "", id = item.ID }, null)</td>
                <td>@item.City.Name (@item.City.Country.Name)</td>
                <td>@item.Price (EUR)</td>
                <td>@item.DateCreated.ToString()</td>
                <td>@item.Amount</td>
            </tr>
        }

    </tbody>
</table>
