﻿﻿﻿﻿@model Project.Web.Areas.Admin.Models.AdminModel

@{
    ViewBag.Title = "Admin area";
}

<h1>@ViewBag.Title</h1>
<hr />


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#trips-all-unique">All (unique) <span class="badge">@Model.AllUnique.Count</span></a></li>
    <li><a data-toggle="tab" href="#trips-active">Active <span class="badge">@Model.Active.Count</span></a></li>
    <li><a data-toggle="tab" href="#trips-inactive">Inactive <span class="badge">@Model.Inactive.Count</span></a></li>
    <li><a data-toggle="tab" href="#trips-sold">Sold <span class="badge">@Model.Sold.Sum(p => p.Amount)</span></a></li>
    <li><a data-toggle="tab" href="#trips-favorited">Favorited <span class="badge">@Model.Favorited.Sum(p => p.Amount)</span></a></li>
    <li><a data-toggle="tab" href="#trips-reported">Reported <span class="badge">@Model.Reported.Sum(p => p.Amount)</span></a></li>
</ul>

<div class="tab-content">
    <div id="trips-all-unique" class="tab-pane fade in active">
        @Html.Partial("_IndexTable", @Model.AllUnique)
    </div>
    <div id="trips-active" class="tab-pane fade in">
        @Html.Partial("_IndexTable", @Model.Active)
    </div>
    <div id="trips-inactive" class="tab-pane fade">
        @Html.Partial("_IndexTable", @Model.Inactive)
    </div>
    <div id="trips-sold" class="tab-pane fade">
        @Html.Partial("_IndexTableWithAmount", @Model.Sold)
    </div>
    <div id="trips-favorited" class="tab-pane fade">
        @Html.Partial("_IndexTableWithAmount", @Model.Favorited)
    </div>
    <div id="trips-reported" class="tab-pane fade">
        @Html.Partial("_IndexTableWithAmount", @Model.Reported)
    </div>
</div>

<br />
<br />