﻿﻿﻿﻿@model Project.Web.Models.TripMyModel

@{
    ViewBag.Title = "My trips";
}

<h1>@ViewBag.Title</h1>
<hr />


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#trips-saved">Saved <span class="badge">@Model.Saved.Count()</span></a></li>
    <li><a data-toggle="tab" href="#trips-booked">Booked <span class="badge">@Model.Booked.Count()</span></a></li>

</ul>

<br />

<div class="tab-content">
    <div id="trips-saved" class="tab-pane fade in active">
        @Html.Partial("_IndexTable", Model.Saved.ToList())
    </div>
    <div id="trips-booked" class="tab-pane fade">
        @Html.Partial("_IndexTable", Model.Booked.ToList())
    </div>
</div>

<br />
<br />