﻿﻿﻿﻿@model Project.Web.Models.TripDetailsBooking

<div class="modal-dialog">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Booking</h4>
        </div>
        @using (Html.BeginForm("Booking", "Trip"))
        {
            @Html.HiddenFor(model => model.TripID)
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FullName)
                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber)
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                @if (Model.HasPaymentMethod)
                {
                    @Html.HiddenFor(model => model.PaymentMethod.ID)
                    <div class="form-group">
                        @Html.LabelFor(model => model.PaymentMethod.MaskedNumber)
                        <p>@Model.PaymentMethod.MaskedNumber</p>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.CardNumber)
                        @Html.TextBoxFor(model => model.CardNumber, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PaymentMethod.CVV)
                        @Html.TextBoxFor(model => model.PaymentMethod.CVV, new { @class = "form-control", @type = "number", @min = "100", @max = "999" })
                        @Html.ValidationMessageFor(model => model.PaymentMethod.CVV, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PaymentMethod.ExpirationDate)
                        <div class="input-group date-picker">

                            @Html.TextBoxFor(model => model.PaymentMethod.ExpirationDate, new { @class = "form-control" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.PaymentMethod.ExpirationDate, "", new { @class = "text-danger" })
                    </div>

                }



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="background:#404040; border:#404040; color:#FFF" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" style="background:#00D49C; border:#00D49C" value="Submit">
            </div>
        }
    </div>

</div>