﻿﻿﻿﻿@model Project.Model.Message

<div class="modal-dialog">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Contact agency</h4>
        </div>
        @using (Html.BeginForm("Contact", "Trip"))
        {
            @Html.HiddenFor(model => model.TripID)
            @Html.HiddenFor(model => model.ReceiverID)
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Description)
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background:#404040; border:#404040; color:#FFF" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" style="background:#00D49C; border:#00D49C" class="btn btn-primary" value="Send">
            </div>
        }
    </div>

</div>