﻿@model Project.Model.Trip

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@Html.HiddenFor(p => p.ID)


<div class="form-group">
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            @Html.LabelFor(model => model.City.CountryID)
            @Html.DropDownListFor(p => p.City.CountryID, (IEnumerable<SelectListItem>)ViewBag.PossibleCountries, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.City.CountryID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            @Html.LabelFor(model => model.CityID)
            @Html.DropDownListFor(p => p.CityID, (IEnumerable<SelectListItem>)ViewBag.PossibleCities, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        @Html.LabelFor(model => model.DepartsAt)
        <div class="input-group date-picker">

            @Html.TextBoxFor(model => model.DepartsAt, new { @class = "form-control" })
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        @Html.ValidationMessageFor(model => model.DepartsAt, "", new { @class = "text-danger" })
    </div>
    <div class="col-xs-6">
        @Html.LabelFor(model => model.ReturnsAt)
        <div class="input-group date-picker">

            @Html.TextBoxFor(model => model.ReturnsAt, new { @class = "form-control" })
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        @Html.ValidationMessageFor(model => model.ReturnsAt, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Price)
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label>Photo</label>
            <input type="file" name="UploadedFile" id="UploadedFile" />
        </div>
    </div>
</div>

<br />
<input type="submit" class="btn btn-primary pull-right" style="background:#00D49C; border:#00D49C" style="background:#00D49C; border:#00D49C" value="Publish" />