﻿﻿﻿﻿@model List<Project.Model.Trip>


<div id="trip-list">

    @foreach (var item in Model)
    {
        <div class="panel panel-default relative">
            <div class="panel-body">
                <div class="row main-list-row">
                    <div class="col-sm-3">
                        <a href="@Url.Action("Details", new { id = item.ID })">
                            <div class="img-holder img-main-list" style="background: url('@item.ImageUrl'); background-size:cover;">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <a href="@Url.Action("Details", new { id = item.ID })">
                            <h3 class="main-list-ad-title">@item.Title</h3>
                        </a>
                        <p>Departs at: @item.DepartsAt.ToString("dd MMM yyyy")</p>
                        <p>Returns at: @item.ReturnsAt.ToString("dd MMM yyyy")</p>

                        <br /><br />
                    </div>
                </div>
            </div>
            <div class="main-list-price-holder">
                <strong><span class="price-eur">@item.Price.Value.ToString("N0")</span> EUR</strong>
            </div>
        </div>
    }
</div>