﻿@model Project.Web.Models.TripFilterModel

<div class="row">
    <form action="@Url.Action("Index")" method="post" class="form-inline">
        <div class="col-sm-8 top-bottom-margin">
            <div class="search-holder">

                <input type="text" class="form-control search-input" id="Title" name="Title" placeholder="Search for..." />

                <select class="form-control filter-option" name="FilterOption" id="FilterOption">
                    <option value="0">Newest first</option>
                    <option value="1">Oldest first</option>
                    <option value="2">Lowest price first</option>
                    <option value="3">Highest price first</option>
                </select>

                <button class="btn btn-primary" style="background:#00D49C; border:#00D49C" type="button" id="trip-search-button">Go!</button>
            </div>
        </div>
    </form>
</div>