﻿@using Microsoft.AspNet.Identity﻿﻿﻿
@model Project.Web.Models.TripDetailsModel

@{
    ViewBag.Title = @Model.Title;
}


<h1>@Model.Title</h1>
<br />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"]
    </div>

}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-7">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="centered" src="../@Model.ImageUrl">
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-5">

                <table class="table table-condensed table-details top-margin-small">
                    <tr class="borderless">
                        <th>Location</th>
                        <td>@Model.City.Name (@Model.City.Country.Name)</td>
                    </tr>
                    <tr>
                        <th>Departs at</th>
                        <td>@Model.DepartsAt.ToString("dd MMM yyyy - HH:mm")</td>
                    </tr>
                    <tr>
                        <th>Returns at</th>
                        <td>@Model.ReturnsAt.ToString("dd MMM yyyy - HH:mm")</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td><strong><span class="price-eur">@Model.Price.Value.ToString("N0")</span> EUR</strong> <em>(<span class="price-hrk"></span> HRK)</em></td>
                    </tr>
                </table>

                @if (Request.IsAuthenticated)
                {
                    if (User.Identity.GetUserId() != Model.UserCreated.Id && !User.IsInRole("Admin"))
                    {
                        <button class="btn btn-danger pull-right right-margin-small" style="background:#404040; border:#404040" data-toggle="modal" data-target="#report-modal">Report</button>

                        var favoriteButtonText = "Add to favorites";

                        if (Model.IsFavorite)
                        {
                            favoriteButtonText = "Remove from favorites";
                        }

                        <button class="btn btn-success pull-right half-width right-margin-small" style="background:#00D49C; border:#00D49C; width:60%" id="button-add-to-fav" onclick="addToFavorites(this, @Model.ID)">@favoriteButtonText</button>
                        <br /> <br />

                        if (Model.IsBooked)
                        {
                            <a class="btn btn-success pull-right half-width right-margin-small" style="width:60%" href="@Url.Action("Details", "Booking", new { id = Model.BookingID })">
                                Booking details
                            </a>
                        }
                        else
                        {
                            <button class="btn btn-success pull-right half-width right-margin-small" style="background:#00D49C; border:#00D49C" data-toggle="modal" data-target="#booking-modal">Book this trip</button>
                        }
                    }
                }
                <br /><br />

                @if (User.Identity.GetUserId() == Model.UserCreated.Id)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" })

                }
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Description
            </div>
            <div class="panel-body">
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Agency info
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-details contact-details">
                    <tr class="borderless">
                        <th>Name</th>
                        <td>@Model.UserCreated.AgencyName</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>@Model.UserCreated.PhoneNumber</td>
                    </tr>
                </table>

                @if (Request.IsAuthenticated)
                {
                    if (User.Identity.GetUserId() != Model.UserCreated.Id)
                    {
                        <button class="btn btn-info pull-right half-width" data-toggle="modal" style="background:#00D49C; border:#00D49C" data-target="#contact-modal">Contact</button>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div id="contact-modal" class="modal fade" role="dialog">

    @Html.Partial("_ContactPartial", new Project.Model.Message { TripID = @Model.ID, ReceiverID = @Model.UserCreated.Id })

</div>

<div id="report-modal" class="modal fade" role="dialog">

    @Html.Partial("_ReportPartial", new Project.Model.Report { TripID = @Model.ID })

</div>

<div id="booking-modal" class="modal fade" role="dialog">

    @{
        string fullName = null;
        string phoneNumber = null;

        if (Model.User != null)
        {
            fullName = Model.User.FirstName + " " + Model.User.LastName;
            phoneNumber = Model.User.PhoneNumber;
        }
    }

    @Html.Partial("_BookingPartial", new Project.Web.Models.TripDetailsBooking { TripID = @Model.ID, PaymentMethod = Model.PaymentMethod, FullName = fullName, PhoneNumber = phoneNumber })

</div>

@section scripts{

    <script type="text/javascript">

        function addToFavorites(btn, id) {
            $.ajax({
                url: '@Url.Action("Favorite")',
                method: 'POST',
                data: { id: id },
                success: function (data) {
                    $(btn).html(data);
                }
            });
        }

    </script>

}