﻿﻿@model Project.Model.Trip

@{
    ViewBag.Title = "Edit trip";
}

<h1>@ViewBag.Title</h1>

<hr />

@using (Html.BeginForm("EditPost", "Trip", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <text>
        @Html.Partial("_CreateOrEdit")
    </text>
}
<br />
<br />