﻿﻿﻿﻿@model List<Project.Model.Trip>

@{
    ViewBag.Title = "Find your perfect trip";
}

<h1>@ViewBag.Title</h1>
<hr />

@Html.Partial("_TripSearchFilter", new Project.Web.Models.TripFilterModel())

<hr />

@Html.Partial("_IndexTable", Model)

<br />
<br />

@section scripts{

    <script type="text/javascript">
        $(function () {
            $("#trip-search-button").on("click", function () {
                $.ajax({
                    url: '@Url.Action("IndexAjax")',
                    method: "POST",
                    data: $(this).closest('form').serialize(),
                    success: function (data) {
                        $("#trip-list").replaceWith(data);
                    }
                });
            });

            function fillOutSelect(data, element)
            {
                var content = "";
                $.each(data, function (i, e) {
                    content += '<select value="' + e.ID + '">' + e.Name + '</select>';
                });
                element.html(content);
            }

            $.ajax({
                url: '@Url.Action("TripTypesAjax")',
                method: "GET",
                success: function (data) {
                    console.log(data);
                    fillOutSelect(data, $("#type-select"));
                }
            });

        });

    </script>
}
